[submodule "src/plugins/tinkoffInvest/TinkoffInvestSDK"]
	path = src/plugins/tinkoffInvest/TinkoffInvestSDK
	url = https://github.com/samoilovv/TinkoffInvestSDK.git
[submodule "src/plugins/tinkoffInvest/--force"]
	path = src/plugins/tinkoffInvest/--force
	url = https://github.com/samoilovv/TinkoffInvestSDK.git
